*
{
	margin:0 auto;
	padding:0 auto;
	 box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        word-wrap: break-word;
        word-break: keep-all;
}
body 
{
  background-color:#fff;
}

.green{
    color:#20aa79;
}
.UserName
{
    min-width:200px;
    height:40px;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}
.form
{
    display:inline-block;
    margin-left:35%;
}
.sensei
{
     font-family: 'Kaushan Script', cursive;
}
.link
{
	font-family: 'Kaushan Script', cursive;
	font-size:26px;
	color: #333;
	float:right;
}
.stay-top-right
{
	margin-top:-40px;
	margin-right:4%;
	height:50px;
	width:30%;
}
.lightUp
{
    margin-right:24%;
}
.acc
{
	margin-right:40%;
	float:right;
	cursor:pointer;
        margin-top:-3px;
}
.stay-top
{
	height:60px;
	width:100%;
	background-color: #e0e0e0;
	position:fixed;
	top:0;
	z-index:1;
	border-bottom:2px solid #bbb;
}
.stay-top-icon
{
	width:45px;
	height:40px;
	margin-left:15%;
	margin-top:10px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
	border:2px solid #999;
        overflow:hidden;
	float:left;
}
.form-control {
  width: 45%;
  height: 40px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #333;
  margin-top:10px;
  margin-left:2%;
  border: 2px solid #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow:hidden;
}
.wrap-out
{
    margin-top:30px;
    color:#999;
    font-size: 60px;
}
.wrap-in
{
     color: #999;
     text-align:center;
     font-size: 50px;
}
#wrapper
{
    margin-top:120px;
    min-height:600px;
    width:48%;
    overflow:hidden;
    border:2px solid red;
}
.admins, .upis
{
    width:100%;
    min-height:300px;
    border:10px solid #333;
    margin-top:10px;
}
/*
a, ul
{
	text-decoration:none;
	list-style-type:none;
}

.sensei{
     font-family: 'Kaushan Script', cursive;
}
.green{
    color:#20aa79;
}
.UserName
{
    min-width:200px;
    height:40px;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}
.form
{
    display:inline-block;
    margin-left:35%;
}
.wrap-out
{
    margin-top:30px;
    color:#999;
    font-size: 60px;
}
.wrap-in
{
     color: #999;
      font-size: 40px;
}
.stay-top
{
	height:60px;
	width:100%;
	background-color: #e0e0e0;
	position:fixed;
	top:0;
	z-index:1;
	border-bottom:2px solid #bbb;
}
.stay-top-icon
{
	width:45px;
	height:40px;
	margin-left:15%;
	margin-top:10px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
	border:2px solid #999;
        overflow:hidden;
	float:left;
}
.form-control {
  width: 45%;
  height: 40px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #333;
  margin-top:10px;
  margin-left:2%;
  border: 2px solid #999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow:hidden;
}

.link
{
	font-family: 'Kaushan Script', cursive;
	font-size:26px;
	color: #333;
	float:right;
}
.stay-top-right
{
	margin-top:-40px;
	margin-right:4%;
	height:50px;
	width:30%;
}
.lightUp
{
    margin-right:24%;
}
.acc
{
	margin-right:40%;
	float:right;
	cursor:pointer;
        margin-top:-3px;
}
#wrapper
{
	margin-top:80px;
	min-height:600px; min-height
	width:48%;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #ccc;
	overflow:hidden;
}
.admins, .upis
{
    width:100%;
    min-height:300px;
    border:1px solid #333;
    margin-top:10px;
}
.upis
{
    border:0px solid #333;
}
#jumping
{
	width:10%;
	min-height:25%;
	background-color:#fafafa;
	top:11%;
	left:80%;
	position:fixed;
	z-index:10;
	-moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
	border:1px solid #666;
        padding-left: 1%;
}
#jumping > ul
{
    margin-top: 10px;
}
.jumping-link
{
    
    line-height: 150%;
    font-size:20px;
    color:#666;
}
.jumping-link:hover
{
    color:#20aa79;
}
.logout
{
    display:inline-block;
    margin-bottom: 0px;
}
.prikaz
{
	display:none;
}
footer
{
        position: relative;
        bottom:0;
	background-color:#f6f6f6;
	border-top:2px solid #999;
	min-height:380px;
	width:100%;
	margin-top:20px;
        
}
#footer-content-wrapper
{
	width:74%;
	height:250px;
	margin-top:2%;
     
}

.footer-part
{
	float:left;
	height:100%;
	margin-left:4%;
	width:20%;
       
}
#footer-part-anketa
{
   height:100%;
}
.footer-part-anketa-donji
{
    margin-top:3%;
    margin-left:40%;
    align-self: center;
}
.footer-title
{
	font-size:28px;
	color:#666;
}
.footer-part > ul > li
{
	display:inline-block;
	margin-left:10px;
}
.footer-description
{
	font-size:16px;
	font-weight:500;
	line-height:150%;
	font-family:Arial;
	word-wrap: break-word;
	color:#737373;
	word-break: keep-all;
}
.footer-link{
	color:#20aa79;
}
ul{
	margin-left: -50px;
}
.lista
{
	margin-top:10px;
	font-size:18px;
	font-family:Arial;
	color:#808080;
}
*/
